---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ExperienceItem from "./ExperienceItem.astro";
import type { ExperienceItem as ExperienceItemT } from "@/i18n/types";

type tLang = (str: any) => any;

const lang = getLangFromUrl(Astro.url);
const t: tLang = useTranslations(lang);
const EXPERIENCE: ExperienceItemT[] = t("exp");
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
